@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
/* 폰텔로 */
@import url(./fonts.css);
*, *::before, *::after { 
  font-family: 'Spoqa Han Sans', 'Sans-serif'; 
  box-sizing: border-box;
}
/* Reset CSS */
ul,ol{
  list-style: none;
  padding-left: 0;
}
fieldset{
  margin: 0;
  padding: 0;
  border: 0 none;
}
/* 숨긴처리 접근가능 */
legend, .a11y-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  clip-path: polygon(0 0, 0 0, 0 0)
}
a{
  text-decoration: none;
  color: inherit;
}
/* 그리드 모듈 */
.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  

}
.flex-col{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/* 모바일 그리드 */
/* .col-m1{
  width: 20%;
}
.col-m2{
  width: 45%;
}
.col-m3{
  width: 70%;
}
.col-m4{
  width: 100%;
} */

/* all device */
.container{
/* background: silver; */

}
.header{
  /* background: yellow; */
  /* height: 10vh; */

}.navigation{
  /* background: pink; */
  /* height: 10vh; */
  

}.main{
  background: skyblue;
  /* height: 70vh; */

}.book{
background: lime;
}
.news{
  
  background: goldenrod;
}
.board{
  background: teal;
  
}
.favorite{
  background: hotpink;
  
}
.twitter{
  background: aqua;
}
.footer{
  background: orange;
  height: 10vh;
}
/* 모바일 디바이스 */
@media screen and (max-width:62.5em){
  .col-m1{
    width: 20%;
  }
  .col-m2{
    width: 45%;
  }
  .col-m3{
    width: 70%;
  }
  .col-m4{
    width: 100%;
  }
  /* 모바일 레이아웃 */
  
  
  /* 모바일 헤더 */
  .header{
    background: #32302E;
    padding-bottom: 1em;
  }
  .logo,.member,.search{
    width: 100%;
    padding-left:20px;
    padding-right:20px;
  }

  /* a모바일 멤버 */
  .member{

    order: -1;
    display: flex;
    justify-content: flex-end;
    background: #988574;
    color: #fff;
    margin: 0;
    padding-top: 0.5em;
    
    /* width: calc(100% + 40px);
    position: relative;
    left:-20px;
     */
  }.member a{
    padding: 0.35em 0;
    /* background: blue; */
    display: block;
    margin-left: 1em;
  }
  /* 모바일 서치  */
  .search{
    /* background: yellow; */
    text-align: right;
  }[type="search"]{
    width: calc(100% - 3em);
  border: 1px solid #aaa;
  border-radius: 0.35em;
  height: 2em;
  width: calc(100% - 3em);
  margin-right: 0.5em;
  
  }.btn-search{
    border: 0 none;
    padding: 0;
    width: 2em;
    height: 2em;
    position: relative;
    background: transparent;

  }
  .btn-search::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("./images/btn_search.png") no-repeat;
    background-size: cover;
  }
  /* 모바일 메뉴 */
  .btn-menubar{

    width: 2.5em;
    height: 2.5em;
    border: 0 none;
    padding: 0;
    position: absolute;
    top: 5em;
    right: 20px;
    background: transparent;
    overflow: hidden;
    cursor: pointer;

  }.menubar{
    background:#fff;
    width: 100%;
    height: 25%;
    
    border-radius: 1em;
    position: absolute;
    left: 0;
    transition: all 200ms;

  }.menubar-top{
    top: 0;
  }
  .menubar-middle{
    top: 50%;
    transform: translateY(-50%);
  }
  .menubar-bottom{
    top: 100%;
    transform: translateY(-100%);
  }
  .nav-act .menubar-top{
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  .nav-act .menubar-middle{
    transform: translate(-100%, -50%);
  }
  .nav-act .menubar-bottom{
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  .menu{
    position:fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    overflow: hidden;
    transform: translateX(-100%);
    transition: all 200ms;

  }.nav-act .menu{
    transform: none;
    width: 75vw;
    background: rgba(0,0,0,0.85);
    color: #fff;
    margin: 0;
    padding: 2em;

  }.menu-list{
    margin: 0.5em 0;
  }
  .menu-item{
    display: block;
    padding: 0.5em;
    /* background: purple; */
  }
  .sub-menu{
    display: none;
    list-style: circle;
    padding-left: 2em;
    margin-bottom: 1em;
    /* background: yellow; */

  }.sub-menu li{
    margin: 0.5em 0;
  }
  .sub-menu a{
    padding: 0.5em 0;
    display: block;

  }
  .menu-act .sub-menu{
    display: block;
  }
  /* .menubar-top{
    top: 0;
  }
  .menubar-middle{
    top: 50%;
    transform:translateY(-50%);
  }
  .menubar-bottom{
    top: 100%;
    transform: translateY(-100%);
  }
  .nav-act .menubar-top{
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    
  }.nav-act .menubar-middle{
    transform: translate(-100%, -50%);
  }
  .nav--Mact .menubar-bottom{
    transform: translateY(-50%) rotate(-45deg);
  } */
  

}
/* 데스크탑 디바이스 */
@media screen and (min-width:62.5em){
  /* 데스트탑 그리드 */
  
  .col-d3{
    width: calc(65px*3 + 20px*2);

  }
  .col-d4{
    width: calc(65px*4 + 20px*3);

  }.col-d5{
    width: calc(65px*5 + 20px*4);

  }.col-d6{
    width: calc(65px*6 + 20px*5);

  }.col-d7{
    width: calc(65px*7 + 20px*6);

  }.col-d8{
    width: calc(65px *8 + 20px*7);

  }
  .container{
    align-items: center;
  }
  .header,.main,.menu{
    width: 1000px;
    /* width: 90%; */
  }
  .navigation,.footer{
    width: 100%;
  /* }데스크탑 헤더 */
  }.header{
    /* background: yellow; */
    display: block;
    position: relative;
    padding-bottom: 1.5rem;

  }
  /* 데스크탑 로고 */
  .logo{
  
    /* background: blue; */
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0;
    transform: translateY(-50%);
    /* display: none; */

  }
  /* 데스크탑 멤버 */
  .member{
    display: flex;
    justify-content: flex-end;
    /* background: lime; */
  }
  .bar::before{
    content: "|";
    margin: 0 1em;

  }
  .member a{
    /* background: pink; */
    display: inline-block;
    padding: 0.5em 0;
  }
  /* e데스크 탑 서치 */
  /* .search{
    background: yellow; */
 
    
  }[type="search"]{
    width: 40%;
  }
  .btn-search{
  border: 1px solid #aaa;
  border-radius: 0.35rem;
  background: #988574;
  color: #fff;
  height: 2em;
  padding: 0 1em;
  }
  /* 데스크탑 메인 메뉴 */
  .navigation{
    background: #998888;
    color: #fff;
    box-shadow: 0 -1px 2px 0 #aaa,0 1px 2px 0 #aaa;
    /* border-top:2px solid #000;
    border-bottom:2px solid #000;  */
  }
  .btn-menubar{
    display: none;
  }
  .menu{
    display: flex;
    justify-content: space-between;
    /* background:orange; */
    margin-left:auto;
    margin-right: auto;
  }
  .menu-item{
    /* background: blue; */
    font-weight: 700;
    font-size: 1.15em;
    padding: 0.35em 0;
    display: block;
    margin-bottom: 0.5em;
    text-shadow: 1px 0 0  #000,0 1px 0  #000,
                 -1px 0 0  #000,0 -1px 0  #000;

  }.sub-menu li{
    margin: 0.5em 0;
  }
  .sub-menu a{
   /* background: purple; */
   display: block;
   padding: 0.35em 0;
   
  }

  .main{
    justify-content: space-between;
  }

  


