@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
/* 폰텔로 */
@import url(./fonts.css);
*, *::before, *::after { 
  font-family: 'Spoqa Han Sans', 'Sans-serif'; 
  box-sizing: border-box;
}
/* Reset CSS */

fieldset{
  margin: 0;
  padding: 0;
  border: 0 none;
}
/* 숨긴처리 접근가능 */
legend, .a11y-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  clip-path: polygon(0 0, 0 0, 0 0)
}
a{
  text-decoration: none;
  color: inherit;
}
/* 그리드 모듈 */
.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  

}
.flex-col{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
/* all device */
.container{
background: silver;

}
.header{
  background: yellow;

}.navigation{
  background: pink;
  

}.main{
  background: skyblue;

}.book{
background: lime;
}
.news{
  
  background: goldenrod;
}
.board{
  background: teal;
  
}
.favorite{
  background: hotpink;
  
}
.twitter{
  background: aqua;
}
.footer{
  background: orange;
}
  
}

